<div class="row py-2">
  <div class="col-md-3 col-xs-12">
    <app-product-filter (applyFilterEvent)="filterApplied($event)"></app-product-filter>
  </div>

  <div class="col-md-9 col-xs-12">
    <div class="d-inline-flex">
      <app-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-pagination>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <app-product-sort [sort]="sort" (orderEvent)="sortProduct($event)"></app-product-sort>
    </div>
    <app-product-gallery [products]="products"></app-product-gallery>

    <div class="mt-3">
      <app-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-pagination>
    </div>
  </div>

</div>

