<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="paginator(data, linkFragmentPrev, linkFragment,linkFragmentNext)" class="col-12"
     th:if="${data.hasContent()}">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" th:classappend="${data.first} ? 'disabled' : '' ">
                <a th:replace="${linkFragmentPrev}">Previous</a>
            </li>
            <li th:each="num : ${#numbers.sequence(1, data.totalPages)}"
                th:classappend="${num == data.number + 1} ? 'active'"
                class="page-item">
                <a th:replace="${linkFragment}">1</a>
            </li>
            <li class="page-item" th:classappend="${data.last} ? 'disabled' : '' ">
                <a th:replace="${linkFragmentNext}">Next</a>
            </li>
        </ul>
    </nav>
</div>

</html>