<form [formGroup]="formGroup" (ngSubmit)="applyManufacturerFilter()">
  <label class="col-form-label" for="productNameFilter">Category</label>
  <ul class="list-group mb-3 list-group-flush">
    <li class="list-group-item" aria-current="page" formArrayName="categories"
        *ngFor="let category of categoriesFormArray.controls; let i = index" [class.active]="productFilter.categoryId === i">
      <a (click)="applyCategory(i)">{{categoriesData[i].name}}</a>
    </li>
  </ul>
  <label class="col-form-label" for="productNameFilter">Name</label>
  <div class="input-group mb-3">
    <input type="text" formControlName="productNameFilter" name="productNameFilter" class="form-control"
           id="productNameFilter" placeholder="Name" aria-label="Name">
  </div>
  <label class="col-form-label" for="productNameFilter">Manufacturer</label>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" formArrayName="manufacturers"
        *ngFor="let manufacturer of manufacturersFormArray.controls; let i = index">
      <input type="checkbox" [formControlName]="i" class="form-check-input" value="true">
        {{manufacturersData[i].name}}
    </li>
  </ul>
  <label for="priceFilter" class="form-label">Price</label>
  <div class="input-group mb-3" id="priceFilter">
    <input type="number" class="form-control" formControlName="priceMinFilter" id="priceMinFilter" placeholder="From" aria-label="From">
    <span class="input-group-text">-</span>
    <input type="number" class="form-control" formControlName="priceMaxFilter" id="priceMaxFilter" placeholder="To" aria-label="To">
  </div>

  <button class="btn btn-primary" type="submit" >Apply</button>
</form>
