<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col" *ngFor="let prod of products">
    <div class="card">
      <img class="card-img-top" xstyle="display: block; width:200px;max-height:100px;width: auto; height: auto;" src="/api/picture/{{prod.pictures[0]}}" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{prod.category.name}}</h6>
        <h5 class="card-title">{{prod.name}}</h5>
        <h6 class="card-title">{{prod.manufacturer.name}}</h6>
        <p class="card-text">{{prod.description.substring(0,50)+(prod.description.length>50?"&nbsp;&nbsp;...":"")}}</p>
        <a routerLink="/product/{{prod.id}}" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

</div>
