<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navigation.html :: head">
</head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/manufacturer/new}">Add Manufacturers</a>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('manufacturer','Id', 'id')"></th>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('manufacturer','Name', 'name')"></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${manufacturers.hasContent()}" th:each="manufacturer: ${manufacturers}">
                    <th scope="row" th:text="${manufacturer.id}">1</th>
                    <td th:text="${manufacturer.name}">Manufacturer</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/manufacturer/{id}(id = ${manufacturer.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/manufacturer/{id}(id = ${manufacturer.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr th:unless="${manufacturers.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div th:replace="fragments/paginator.html :: paginator(${manufacturers}, ~{::paginatorLinkPrev}, ~{::paginatorLink}, ~{::paginatorLinkNext})">
            <a th:fragment="paginatorLink" class="page-link"
               th:text="${num}"
               th:href="@{/manufacturer( page=${num}, size=${param.size}, sort=${param.sort}, dir=${param.dir})}">1</a>
            <a th:fragment="paginatorLinkPrev" class="page-link"
               th:href="@{/manufacturer(page=${T(Math).max(manufacturers.number,0)}, size=${param.size}, sort=${param.sort}, dir=${param.dir})}">Previous</a>
            <a th:fragment="paginatorLinkNext" class="page-link"
               th:href="@{/manufacturer(page=${T(Math).max(manufacturers.number,0)}, size=${param.size}, sort=${param.sort}, dir=${param.dir})}">Next</a>
        </div>
    </div>
</div>

<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>
</html>